/* fit-content natahuje menu v mobile na celu dlzku tabulky (ak ide tabulka "za" pravy okraj mobilu),
   min-width: 100% zase v desktope centruje obsah (fit-content posuva obsah co najviac dolava a cez min-width: 100% to treba kompenzovat,
   riesenie pokus/omyl, lepsie sme narychlo nenasli */
body {
  width: fit-content;
  min-width: 100%;
  margin: 0; /* prebijeme povodny margin 3.57rem */
}

.App {
  /* text-align: center; - centruje polozky v AutoComplete, co nechceme */
  /* skopirovane z App-header */
  background-color: #282c34;
  color: white;
}

/* formular (nachadza sa pod XMenu) - centruje sa horizontalne, menu je natiahnute na celu obrazovku */
.App-form {
  /* skopirovane z App-header */
  /*min-height: 100vh;*/
  /*display: flex;
  flex-direction: column; - netreba nam flex, ak necentrujeme */
  /*align-items: center; - stlaca dvojicky label + input */
  /*justify-content: center; chceme mat formular hned pod menu */
  /*font-size: calc(10px + 2vmin);*/
  font-size: 1.29rem; /* nechceme velke label-y */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* tento App-header som nikde nenasiel */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  font-size: 1.29rem; /* nechceme velke label-y */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.source-code-link {
  color: deepskyblue;
}

/* TODO - do lib-ky presunut */
/* zvecsenie prazdnej (null) polozky v dropdown-och */
.p-dropdown-label {
  min-height: 2.14rem;
}

.p-dropdown-item {
  min-height: 2.36rem;
}

/* trosku zuzeny button v dropdown-e - povodne bol 2.357rem */
.p-dropdown .p-dropdown-trigger {
  width: 2rem;
}

.p-calendar .x-input-date {
  width: 6rem;
}

.p-calendar .x-input-datetime {
  width: 10rem;
}

/* this css centers buttons in search dialog (XSearchButton, XSearchButtonDT) */
/* zrealizujeme cez flex
.x-lazy-datatable {
  text-align: center;
}
*/

/* no line break in table headers (every row has only one line) and in table cells
   kedze mame resizable columns (pridavaju overflow: hidden), resizovanim si vie uzer pozriet aj useknuty obsah bunky - moze to vsak byt problem na mobile */
.p-datatable.x-lazy-datatable tr > th, .p-datatable.x-form-datatable tr > th,
.p-datatable.x-lazy-datatable tr > td {
  white-space: nowrap;
  /*overflow: hidden;*/
}

/* v mobile zbytocne rozdeluje paginator na 2 riadky, zamedzime tomu */
.p-datatable .p-paginator {
  flex-wrap: nowrap;
}
.p-datatable .p-paginator-pages {
  white-space: nowrap;
}

/* resizable tabulka nastavuje vsetkym bunkam (header, body, footer) overflow: hidden; co je problem pre bunku s filtrom, ktora moze obsahovat dropdown a ten je potom useknuty;
   preto hidden v tomto pripade prebijeme
   poznamka: toto netreba, riesi to appendTo={document.body} v Dropdown-e */
/*
.p-datatable-resizable .p-datatable-thead > tr > th.p-filter-column {
  overflow: visible;
}
*/


/* inputs in editable datatable should be as wide as the column, second selector is for inputnumber (inputnumber has span wrapper) */
.x-form-datatable tr > td .x-input-to-resize, .x-form-datatable tr > td .x-input-to-resize > .p-inputnumber-input {
  width: 100%;
}

/* editable datatable - padding shrinked from 7px to 3px (to save space) */
.p-datatable.p-datatable-sm.x-form-datatable .p-datatable-thead > tr > th.p-filter-column,
.p-datatable.p-datatable-sm.x-form-datatable .p-datatable-tbody > tr > td {
  padding: 0.21rem;
}

/* normal datatable - padding shrinked from 7px to 3px (to save space) only in header */
.p-datatable.p-datatable-sm .p-datatable-thead > tr > th.p-filter-column {
  padding: 0.21rem;
}

/* default is 100%, min-content preserves the widths of the columns (width of the datatable is sum of all columns) */
/* bolo to tu koli tomu aby tabulka nebola roztiahnuta na celu sirku stranky
    - min-content nastavil sirky stlpcov presne na sirku urcenu cez headerStyle na stlpci
    - auto este navyse trosku zvecsilo stlpce ak boli dlhe labely
    - problem - ak sme chceli scrolbar-y, tak nefungovalo zarovnanie stlpcov s header-ami
    - riesenie - min-content sa teraz priamo zadava na komponente tabulky (XLazyDataTable.DataTable)
 */
/*
.p-datatable table {
  /*width: min-content;/
  width: auto;
}
*/

.x-field-treetable table {
  width: 25rem;
}

/* small button with icon (component XButtonIconSmall) */
.p-button.x-button-icon-small {
  width: auto;
  padding: 0.21rem;
  margin: 0.07rem;
}
.p-button.x-button-icon-small > .p-button-label {
  height: 0rem;
}

/* search button (XSearchButton and XSearchButtonDT) */
.x-search-button-base {
  display: flex;
}

/* width: 100%; - koli search button in datatable (XSearchButtonDT) - bez tohto flex prilis natahoval button (search button vyliezal z bunky, ak mal stlpec nastavenu custom sirku) */
.x-search-button-base > .p-inputtext {
  flex: 1 1 auto;
  width: 100%;
}

.x-search-button-base > .p-button {
  flex: 0 1 auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}


/* split button only dropdown (in component XAutoCompleteBase) */
.x-splitbutton-only-dropdown > .p-splitbutton-defaultbutton {
  display: none;
}

.x-splitbutton-only-dropdown > .p-splitbutton-menubutton {
  width: auto;
  padding-left: 0.21rem;
  padding-right: 0.21rem;
}

.x-splitbutton-only-dropdown-menu {
  width: auto;
}

.x-splitbutton-only-dropdown-menu .p-menuitem-link {
  padding: 0.35rem;
}

.x-splitbutton-only-dropdown-menu .p-menuitem-link .p-menuitem-icon {
  margin-right: 0rem;
}

/* split button only dropdown (in component XAutoCompleteBase) - mobile version*/
.x-splitbutton-only-dropdown-mobile > .p-splitbutton-defaultbutton {
  display: none;
}

.x-splitbutton-only-dropdown-menu-mobile {
  width: auto;
}

.x-splitbutton-only-dropdown-menu-mobile .p-menuitem-link {
  padding: 0rem;
}

.x-splitbutton-only-dropdown-menu-mobile .p-menuitem-link .p-menuitem-icon {
  margin: 0.7rem;
}

/* checkbox vo formulari (vytvoreny cez XCheckbox) - vertikalne centrovanie (cez flexbox) */
.field.grid > .p-checkbox {
  align-self: center;
}

/* .x-form je urceny pre root div element formulara, ale zatial sa nepouziva (stlaca elementy x-form-col ak je ich viac) */
.x-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.x-form-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.x-form-col {
  margin: 0.7rem; /* inputy maju margin-left: -0.5rem, margin-right: -0.5rem, tento margin sluzi (aj) na kompenzaciu tych minusovych marginov */
}
