.App {
  text-align: center;
  /* skopirovane z App-header */
  background-color: #282c34;
  color: white;
}

/* formular (nachadza sa pod XMenu) - centruje sa horizontalne, menu je natiahnute na celu obrazovku */
.App-form {
  /* skopirovane z App-header */
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center; chceme mat formular hned pod menu */
  /*font-size: calc(10px + 2vmin);*/
  font-size: 18px; /* nechceme velke label-y */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  font-size: 18px; /* nechceme velke label-y */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.source-code-link {
  color: deepskyblue;
}

/* TODO - do lib-ky presunut */
/* zvecsenie prazdnej (null) polozky v dropdown-och */
.p-dropdown-label {
  min-height: 30px;
}

.p-dropdown-item {
  min-height: 33px;
}

.p-calendar .x-input-date {
  width: 85px;
}

.p-calendar .x-input-datetime {
  width: 145px;
}

/* this css centers buttons in search dialog (XSearchButton, XSearchButtonDT) */
.x-lazy-datatable {
  text-align: center;
}

/* no line break in table headers (every row has only one line) */
.p-datatable tr > th {
  white-space: nowrap;
}

/* no line break in tables (every row has only one line) - shoud be used with resizable columns */
/* "overflow: hidden" znefunkcni dropdown-y v editovatelnej tabulke a pre textove stlpce sa to momentalne neuplatnuje lebo stlpce sa rozsiria ked maju velky obsah
   "white-space: nowrap;" nema moc velky vyznam ak nemame "overflow: hidden"
.p-datatable tr > td {
  white-space: nowrap;
  overflow: hidden;
}
*/

/* inputs in editable datatable should be as wide as the column, second selector is for inputnumber (inputnumber has span wrapper) */
.x-form-datatable tr > td .x-input-to-resize, .p-datatable tr > td .x-input-to-resize > .p-inputnumber-input {
  width: 100%;
}

/* editable datatable - padding shrinked from 7px to 3px (to save space) */
.p-datatable.p-datatable-sm.x-form-datatable .p-datatable-thead > tr > th.p-filter-column,
.p-datatable.p-datatable-sm.x-form-datatable .p-datatable-tbody > tr > td {
  padding: 3px;
}

/* normal datatable - padding shrinked from 7px to 3px (to save space) only in header */
.p-datatable.p-datatable-sm .p-datatable-thead > tr > th.p-filter-column {
  padding: 3px;
}

/* default is 100%, min-content preserves the widths of the columns (width of the datatable is sum of all columns) */
.p-datatable table {
  /*width: min-content;*/
  width: auto;
}
